*.pem

node_modules
dist
logs

uploads/

ecosystem.config.js

.env*

kalygo*.sql

inventory
inventory.staging
inventory.prod
ansible.cfg

cicd.yml
cicd.yaml
cicd.staging.yml
cicd.staging.yaml
cicd.prod.yml
cicd.prod.yaml
cicd_example.yml

# ecosystem.config.js.bk
ecosystem.config.prod.js
ecosystem.config.staging.js

db_backups
stripe_data_exports

version.json

client_secret_622334711519-qs6ukp7b4grunpdsemnpd35si36ddo4n.apps.googleusercontent.com.json

debugQueue