*.pem

node_modules
dist
logs

uploads/

ecosystem.config.js

.env*

kalygo*.sql

inventory
inventory.staging
inventory.prod
ansible.cfg

cicd.yml
cicd.staging.yml
cicd.production.yml
cicd_example.yml

# ecosystem.config.js.bk
ecosystem.config.prod.js
ecosystem.config.staging.js

db_backups