---

- hosts: all
  become: true
  tasks:

  - name: install httpd aka apache2 package
    yum:
      name: httpd
      update_cache: true
      state: absent
    when: ansible_distribution in ["Ubuntu", "Debian"] and ansible_distribution_version == "8.2"

  - name: install php
    yum:
      name: php
      state: absent
    when: ansible_distribution == "Ubuntu"
